<div class="Select">
    <div class="flex flex-wrap gap-xs">
        <label
            :for="id | default(name)"
            :class="not showLabel ? 'sr-only' : null"
            @html="label"
        />
        <span
            @unless="required"
            class="Select__optional-marker text-xs uppercase text-gray-500 font-normal"
        >
            Optional
        </span>
    </div>
    <div class="Select__inner relative">
        <select
            :id="id | default(name)"
            :name="name"
            @attributes
        >
            <Children />
        </select>
        <Icon :name="icon | default('caret-down')" class="Select__icon" />
    </div>
</div>

<Style>
    .Select > * + * {
        margin-block-start: var(--Input--flow-spacce, 0.4em);
    }

    .Select__inner {
        display: grid;
    }

    .Select__inner > * {
        grid-column: 1;
        grid-row: 1;
    }

    .Select__inner select {
        padding-inline-end: var(--Select--padding-end, var(--space-8));
    }

    .Select__icon {
        color: var(--Select--icon-color, var(--color-gray-500));
        align-self: center;
        height: var(--Select--icon-size, 1em);
        width: var(--Select--icon-size, 1em);
        line-height: 1;
        justify-self: end;
        margin-inline-end: var(--Select--padding, var(--space-3));
    }
</Style>