<BlockWrapper :attributes="attributes" :block="block">
    <Accordion.Item>
        <Accordion.Trigger>{{ fields.heading }}</Accordion.Trigger>
        <Accordion.Content>
            <div class="wp-block-group is-style-prose mt-xs">
                <InnerBlocks />
            </div>
        </Accordion.Content>
    </Accordion.Item>
</BlockWrapper>

<Style>
    .wp-block-acf-accordion-item .acf-innerblocks-container > * {
        max-width: 47rem;
    }

    .wp-block-acf-accordion-item .acf-innerblocks-container > * + * {
        margin-block-start: var(--space-4);
    }
</Style>