<Goform id="cvKISnvXIL3HH2AK4VtY5Vhc2iavLb9l" class="flow flow-space-xs">
    <Input name="name" label="Name" type="text" required />
    <Input type="tel" name="phone" label="Phone Number" type="tel" required />
    <Input type="email" name="email" label="Email Address" type="email" />
    <Input type="textarea" name="message" label="Message" required />
    <Button type="submit">
        Send
        <Icon name="arrow-right" />
    </Button>
</Goform>