<div :class="[type == 'radio' ? 'Radio' : 'Checkbox', class] | cls">
    <input
        :type="type == 'radio' ? 'radio': 'checkbox'"
        :name="name"
        :id="id | default(name)"
        @checked="checked"
        @attributes
    />
    <label :for="id | default(name)">{{ label }}</label>
</div>

<Style>
    .Checkbox,
    .Radio {
        --checkbox--size: var(--space-6);
        position: relative;
    }

    .Checkbox label,
    .Radio label {
        --checkbox--icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE4LjcxLDcuMjFhMSwxLDAsMCwwLTEuNDIsMEw5Ljg0LDE0LjY3LDYuNzEsMTEuNTNBMSwxLDAsMSwwLDUuMjksMTNsMy44NCwzLjg0YTEsMSwwLDAsMCwxLjQyLDBsOC4xNi04LjE2QTEsMSwwLDAsMCwxOC43MSw3LjIxWiIvPjwvc3ZnPg==");

        display: flex;
        align-items: center;
        user-select: none;
    }

    .Checkbox label:before,
    .Radio label:before {
        content: "";
        display: block;
        border: var(--checkbox--border-thickness, 1px) solid var(--checkbox--border-color, var(--color-gray-300));
        border-radius: var(--checkbox--radius, var(--radius-xs));
        width: var(--checkbox--size);
        height: var(--checkbox--size);
        margin-right: var(--space-2);
        pointer-events: none;
        flex-shrink: 0;
    }

    .Checkbox input,
    .Radio input {
        width: var(--checkbox--size);
        height: var(--checkbox--size);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .Checkbox input:checked + label:before,
    .Radio input:checked + label:before {
        background-image: var(--checkbox--icon);
        background-repeat: no-repeat;
        background-position: center;
        border-color: var(
            --checkbox--border-color-checked,
            var(--color-primary)
        );
    }

    /* Radio specific styling */
    .Radio label {
        --checkbox--icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiIGNsYXNzPSJ1aW0tcHJpbWFyeSIvPjwvc3ZnPg==");
        --checkbox--radius: var(--radius-full);
    }
</Style>