<button
    type="button"
    x-on:click="toggle()"
    :class="[
        'flex items-center gap-1 leading-none text-sm font-bold no-underline',
        'text-gray-700 hover:text-gray-950',
        class
    ] | cls"
    @attributes
>
    <Children />
    <Icon @if="icon_exists(icon)" :name="icon" />
</button>