<li class="flex items-center h-full">
    <a
        :href="href"
        :class="[
            'text-gray-800 inline-flex items-center px-2 py-1 gap-x-1 rounded-md hover:text-gray-900 hover:bg-gray-100',
            isActive ? 'is-active' : null,
            class
        ] | cls"
        :aria-current="isActive ? 'location' : null"
    >
        <Icon @if="icon" :name="icon" class="w-5 h-5" />
        <span>
            <Children />
        </span>
    </a>
</li>

<svg
    aria-hidden="true"
    @unless="isActive"
    class="w-5 h-5 text-gray-400"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
>
    <g fill="none" stroke="none">
        <path
            d="M10 8.013l4 4-4 4"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </g>
</svg>