.AccordionTrigger {
    font-size: var(--AccordionTrigger--heading-size, var(--size-base));
}

.AccordionTrigger__button {
    display: grid;
    grid-template-columns: 1fr 1.5rem;
    align-items: start;
    justify-content: space-between;
    text-align: left;
    width: 100%;
}

.AccordionTrigger__icon {
    font-size: var(--AccordionTrigger--icon-size, var(--size-base));
    justify-self: end;
    transition: rotate var(--AccordionTrigger--rotate-duration-close, 0.5s) ease;
}

.AccordionTrigger__icon svg {
    width: 1em;
    height: 1em;
}

.AccordionItem[aria-expanded="true"] .AccordionTrigger__icon {
    transform-origin: center;
    transition: rotate var(--AccordionTrigger--icon-rotate-duration-open, 0.3s) ease;
    rotate: var(--AccordionTrigger--icon-rotate-open, 180deg);
}