<li :class="['Navigation__Link', class] | cls" @attributes>
    <a
        :href="href"
        :class="[
            'flex items-center gap-x-2 gap-y-1 leading-none text-sm font-bold no-underline transition-colors duration-300 ease-in-out',
            'text-gray-700 hover:text-gray-950'
        ] | cls"
    >
        <Icon @if="icon and icon_exists(icon)" :name="icon" />
	    <span>
            <Children />
        </span>
    </a>
</li>