<Carousel autoplay withDots withArrows>
    <Carousel.Item>
        <div class="bg-teal-400 text-teal-950 px-2xl py-64 text-center">
            <p>Item 1</p>
        </div>
    </Carousel.Item>
    <Carousel.Item>
        <div class="bg-purple-400 text-purple-950 px-2xl py-64 text-center">
            <p>Item 2</p>
        </div>
    </Carousel.Item>
</Carousel>