<Element
    :is="is"
    :id="id"
    :class="['splide', class] | cls"
    :aria-label="name"
    :data-splide="options ?? null"
>
    <div class="splide__track">
        <ul class="splide__list">
            <Children />
        </ul>
    </div>
</Element>

<Script>
    import Splide from '@splidejs/splide';

    Splide.defaults = {
        type: 'loop',
        gap: '1rem',
        perPage: 2,
    }

    let carousels = document.querySelectorAll('.splide');

    if (carousels.length) {
        window.celesteCarousels = {};

        carousels.forEach(carousel => {
            window.celesteCarousels[carousel.id] = new Splide(carousel).mount();
        });
    }
</Script>

<Style>
    @import "../../../../node_modules/@splidejs/splide/dist/css/splide.min.css";
</Style>