<div
    x-data="carousel"
    :class="['Carousel relative'] | cls"
    :data-preview="preview ? 'true' : 'false'"
    :data-autoplay="autoplay ? 'true' : 'false'"
    :data-autoplay-speed="autoplaySpeed"
>

    <div class="Carousel__slides">
        <Children />
    </div>

    <button
        @if="withArrows"
        x-on:click="prev()"
        data-previous
        class="absolute left-4 top-1/2 z-[9999]"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="transparent"
            stroke="currentColor"
            viewBox="0 0 24 24"
        >
            <path
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
            />
        </svg>
        <span class="sr-only">Previous</span>
    </button>

    <button
        @if="withArrows"
        x-on:click="next()"
        data-next
        class="absolute right-4 top-1/2 z-[9999]"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="transparent"
            stroke="currentColor"
            viewBox="0 0 24 24"
        >
            <path
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
            />
        </svg>
        <span class="sr-only">Next</span>
    </button>

    <div @if="withDots" class="dot-selectors absolute bottom-4 w-full flex justify-center gap-1" />

</div>