<div
    x-data="{ notifications: false }"
    class="flex flex-wrap gap-xs items-center"
>
    <Switch name="notifications" x-model="notifications" />
    <span x-text="notifications ? 'On' : 'Off'" class="uppercase text-sm font-bold" />
</div>