<SnapTo>
    <div class="bg-teal-400 text-teal-950 flex items-center justify-center w-80 h-64">
        <p>Item</p>
    </div>
    <div class="bg-teal-400 text-teal-950 flex items-center justify-center w-80 h-64">
        <p>Item</p>
    </div>
    <div class="bg-teal-400 text-teal-950 flex items-center justify-center w-80 h-64">
        <p>Item</p>
    </div>
    <div class="bg-teal-400 text-teal-950 flex items-center justify-center w-80 h-64">
        <p>Item</p>
    </div>
    <div class="bg-teal-400 text-teal-950 flex items-center justify-center w-80 h-64">
        <p>Item</p>
    </div>

    <Slot name="actions">
        <Button data-action="prev" type="button">
            <Icon name="arrow-left" />
            <span class="sr-only">Previous</span>
        </Button>
        <Button data-action="next" type="button">
            <Icon name="arrow-right" />
            <span class="sr-only">Next</span>
        </Button>
    </Slot>
</SnapTo>