<div
    :class="['Marquee', class] | cls"
    :data-pause-on-hover="pauseOnHover ? 'true' : 'false'"
    @attributes
>
    <ul class="Marquee__content">
        <Children />
    </ul>

    <ul class="Marquee__content" aria-hidden="true">
        <Children />
    </ul>
</div>

<Style>
    .Marquee {
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: var(--marquee-gap, var(--space-sm));
    }

    .Marquee__content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        gap: var(--marquee-gap, var(--space-sm));
    }

    .Marquee__content li {
        position: relative;
    }

    .Marquee__content {
        animation: MarqueeScroll var(--marquee-speed, 150s) linear infinite;
    }

    .Marquee[data-pause-on-hover="true"]:hover .Marquee__content {
        animation-play-state: paused;
    }

    @keyframes MarqueeScroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--space-4)));
        }
    }
</Style>