<Popout id="example">
    <div class="bg-primary text-primary-contrast rounded-sm p-md prose shadow-2xl">
        <h2 class="h4" id="example-label">Special Offer</h2>
        <p id="example-description">Get 10% off your first order when you sign up to our newsletter.</p>
        <Button href="#" variant="contrast">Get 10% Voucher</Button>
    </div>
</Popout>