celeste-dismissable-element > :first-child {
	animation: dismissable-element-enter 1s ease forwards;
	animation-delay: 1s;
	opacity: 0;
	transform: translateY(8rem);
}

celeste-dismissable-element[dismissed] > :first-child {
	animation: dismissable-element-exit 1s ease forwards;
	animation-delay: 0s;
	opacity: 1;
	transform: translateY(0);
}

celeste-dismissable-element button[data-close] {
	color: var(--popout--close-color, rgba(0, 0, 0, 0.5));
	font-size: var(--text-lg);
	padding: var(--space-lg) var(--space-md);
	position: absolute;
	top: 0;
	right: 0;
	transition: transform 0.2s ease;
}

celeste-dismissable-element button[data-close]:hover {
	transform: scale(1.05);
}

@keyframes dismissable-element-enter {
	0% {
		opacity: 0;
		transform: translateY(8rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes dismissable-element-exit {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(8rem);
	}
}
