.AccordionItem {
    border-radius: var(--AccordionItem--border-radius, var(--radius-sm));
    display: grid;
    border:
        var(--AccordionItem--border-thickness, 1px)
        var(--AccordionItem--border-style, solid)
        var(--AccordionItem--border-color, var(--color-gray-200));
    padding:
        var(--AccordionItem--padding-y, var(--space-xs))
        var(--AccordionItem--padding-x, var(--space-sm));
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
}

.AccordionItem[aria-expanded="true"] {
    grid-template-rows: auto 1fr;
}