<div class="grid items-center justify-center py-40">
    <div class="relative">
        <div class="absolute -top-6 -left-8 rounded-full bg-pink-500 w-40 h-40 z-10 blur-3xl mix-blend-multiply"></div>
        <div class="absolute -top-8 -right-8 rounded-full bg-yellow-500 w-40 h-40 z-10 blur-3xl mix-blend-multiply"></div>
        <div class="absolute top-6 left-8 rounded-full bg-teal-500 w-40 h-40 z-10 blur-3xl mix-blend-multiply"></div>
        <div class="relative bg-white shadow-xl rounded px-12 py-8 min-w-lg z-50">
            <h2>Huge Colourful Blur</h2>
        </div>
    </div>
</div>