<Accordion id="faqs">
    <Accordion.Item>
        <Accordion.Trigger>What is this?</Accordion.Trigger>
        <Accordion.Content>
            <p>This is an accordion component.</p>
        </Accordion.Content>
    </Accordion.Item>
</Accordion>