<div class="max-w-xl">
    <Compare>
        <div class="grid">
            <img class="col-start-1 row-start-1" src="https://unsplash.it/1000?random=1" alt="" />
            <div class="col-start-1 row-start-1 flex items-end p-md">
                <Badge>Before</Badge>
            </div>
        </div>
        <div class="grid">
            <img class="col-start-1 row-start-1" src="https://unsplash.it/1000?random=2" alt="" />
            <div class="col-start-1 row-start-1 flex items-end justify-end p-md">
                <Badge>After</Badge>
            </div>
        </div>
    </Compare>
</div>