<div class="aspect-video grid grid-cols-2 gap-sm md:grid-cols-4">
    <div class="flex items-center justify-center bg-gradient-to-br from-purple-700 to-blue-700 text-blue-100 rounded px-lg py-md col-span-2 md:row-span-2">
        <p class="text-xl font-bold">1</p>
    </div>
    <div class="flex items-center justify-center bg-gradient-to-br from-yellow-500 to-orange-500 text-gray-950 rounded px-lg py-md md:col-span-2">
        <p class="text-xl font-bold">2</p>
    </div>
    <div class="flex items-center justify-center bg-gradient-to-br from-pink-500 to-red-500 text-pink-100 rounded px-lg py-md">
        <p class="text-xl font-bold">3</p>
    </div>
    <div class="flex items-center justify-center bg-gradient-to-br from-emerald-500 to-teal-500 text-emerald-100 rounded px-lg py-md col-span-2 md:col-span-1">
        <p class="text-xl font-bold">4</p>
    </div>
</div>